body {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    font: 16px Arial, sans-serif;
    padding: 20px;
}


header {
    border: 1px solid #336699;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

h1, h2 {
    color: #336699;
    font-variant: small-caps;
}




main {
    /* float: left; */
    width: 66.66%;

}

/* aside {
    float: right;
    width: 33.33%;
    padding: 10px;
} */

/* .grid{
    display: flex;
    flex-direction: column;
} */

.mygrid{
    display: flex;
    flex-direction: row;
    /* align-content: space-between; */
    width: 1400px;
    text-align: justify;
}

.bio1{
width: 700px;
}

.bio2{
    width: 700px;
    }

.mainimg img {
    border: 2px solid #336699;
}

figcaption {
    font-weight: bold;
    font-variant: small-caps;
}

q {
    font-family: cursive;
    font-style: italic;
    font-size: 18px;
}


aside ul li {
    list-style: none;
    line-height: 1.5;
}

aside ul > li > a {
    text-decoration: none;
    color: #336699;
}

aside ul > li > a:hover {
    color: #FF6600;
}
main section h2 {
    border: none;
    padding: 0;
}

 

h1, h2 {
    color: #336699;
    font-variant: small-caps;
}



.footer {
    border: none;
    border-radius: 10px;
    padding: 10px;
    /* text-align: center; */
    background-color: #f2f2f2;
    margin-top: 20px; /* Space between main content and footer */
}

.copyright-box {
    border: 1px solid #336699;
    border-radius: 10px;
    padding: 10px;
    /* display: inline-block; */
}
